<!DOCTYPE html>
<html>
<head>
  <title>PMWebApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='http://www.google.com/jsapi'></script>
</head>
<body>

<%= yield %>

</body>
</html>
