<div class="container">
  <div class="row">
    <div class="span15">

      <h1>Find rules in your data!</h1>

      <hr>

      <div class="well">

        <% unless flash[:error].nil? %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong><%= flash[:error] %></strong>
            </div>
        <% end %>

        <%= form_for @form, :url => {:action => "do"} do |f| %>
            <p><%= label_tag(:file, 'Data set file:') %> <%= f.file_field :file %></p>

            <p>
              <%= label_tag(:validperc, 'Validation set percentage:') %>
              <%= f.number_field(:validperc, in: 0..100) %> %
            </p>

            <p>
              <%= label_tag(:cov, 'Covering:') %>
              <%= f.number_field(:cov, in: 0..100) %> %
            </p>

            <p>
              <%= label_tag(:maxerrperc, 'Max error:') %>
              <%= f.number_field(:maxerrperc, in: 0..100) %> %
            </p>

            <p>
              <%= label_tag(:mincov, 'Min covering:') %>
              <%= f.number_field(:mincov, in: 0..100) %> %
            </p>

            <p><%= label_tag(:ncondmin, 'N cond min:') %>
              <%= f.number_field(:ncondmin, in: 0..100) %>
            </p>

            <p><%= label_tag(:ncondmax, 'N cond max:') %>
              <%= f.number_field(:ncondmax, in: 0..100) %>
            </p>

            <p>
              <%= label_tag(:autodim, 'Auto dim:') %>
              <%= f.check_box(:autodim) %>
            </p>


            <p><%= f.submit 'Find Rules!' %></p>
        <% end %>

      </div>
      <!-- well -->
    </div>
    <!-- span4 -->
  </div>
  <!-- row -->
</div> <!-- container -->




