<div class="container">
  <div class="row">
    <div class="span15">

      <h1>Visualization of Result</h1>

      <hr>

      <div class="well">
        <div id='chart'></div>
        <%= render_chart @chart, 'chart' %>
      </div>
      <!-- well -->
    </div>
    <!-- span4 -->
  </div>
<!-- row -->
  <div class="row">
    <div class="span15">
      <div class="well">
        <% i = 0 %>
        <ul>
          <% @rules.each do |rule| %>
              <li class="rule"><%= "R#{i}) #{rule}" %></li>
              <% i += 1 %>
          <% end %>
        </ul>
      </div>
      <!-- well -->
    </div>
    <!-- span4 -->
  </div>
  <!-- row -->

</div> <!-- container -->